<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


  <ion-content>

<ion-fab middle center *ngIf="!checkSale" >
  <button ion-fab color="secondary" (click)="dosale()"><ion-icon class="basketbtn"  name="basket"></ion-icon></button>
</ion-fab>


    <ion-fab top right edge *ngIf="checkSale">
      <button color="secondary" ion-fab mini (click)="qrScanner()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-item-group *ngIf="checkSale">

    <ion-list>
      <ion-list-header text-center="">
        <h1><b>ລາຍການ</b></h1>
      </ion-list-header>

      <ion-item-sliding *ngFor="let order of orderlists, let i = index">
        <ion-item padding>
          <ion-label hidden>ຈຳນວນ</ion-label>
          <ion-label>{{i+1}} {{order.name}}</ion-label>
          <ion-label>{{order.price}}</ion-label>
          <ion-select [(ngModel)]="orderlists[i].amount" (ionChange)="sumOrderList()">
            <ion-option value="{{amount}}" *ngFor="let amount of amounts">{{amount}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="deleteCurrentOrder(i)">
            <ion-icon name="delete"></ion-icon>
            Delete
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

    <ion-card *ngIf="orderlists[0]">
      <ion-card-content>
        <ion-item-group>
          <ion-item-divider ><h1><b>ລວມ</b></h1></ion-item-divider>
          <ion-item padding text-end>
            <h2><b>ຈຳນວນ: {{totalAmountSale}} ₭</b></h2>
            <h2><b>ເປັນເງີນ: {{orderSum}} ₭</b></h2>
          </ion-item>
        </ion-item-group>

        <ion-item-group>

          <ion-item color="danger" margin-bottom="1">
            <ion-label color="light"><b>ສ່ວນຫຼຸດ</b></ion-label>
            <ion-select [(ngModel)]="discount" (ionChange)="paymentCalculation()">
              <ion-option value="0">0%</ion-option>
              <ion-option value="0.05">5%</ion-option>
              <ion-option value="0.1">10%</ion-option>
              <ion-option value="0.15">15%</ion-option>
              <ion-option value="0.2">20%</ion-option>
              <ion-option value="0.25">25%</ion-option>
              <ion-option value="0.3">30%</ion-option>
              <ion-option value="1">100%</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider><h1><b>ລວມລາຄາຈ່າຍ</b></h1></ion-item-divider>
          <ion-item padding text-end>
            <h1><b>{{payment}} ₭</b></h1>
          </ion-item>
        </ion-item-group>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block large color="danger" (click)="cancleOrder()"><b>ຍົກເລີກ</b></button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block large color="secondary" (click)="submitSale()"><b>ຕົກລົງ</b></button>

          </ion-col>

        </ion-row>
      </ion-grid>


    </ion-card>
</ion-item-group>
  </ion-content>

